@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Playfair Display", serif;
  margin: 0;
}

.custom-text {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 24px;
}